@model LoginVM
@{
	ViewData["Title"] = "Login Page";
	Layout = "_PagesLayout";
}


<div class="authincation h-100">
		<div class="container h-100">
			<div class="row justify-content-center h-100 align-items-center">
				<div class="col-md-6">
					<div class="authincation-content">
						<div class="row no-gutters">
							<div class="col-xl-12">
								<div class="auth-form">
									<div class="text-center mb-3">
										<a asp-action="Index"><img src="~/assets/images/logo-full.png" alt=""></a>
									</div>
									<h4 class="text-center mb-4">Sign in your account</h4>
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<form asp-action="Login" method="post" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]">
										<div class="mb-3">
											<label class="mb-1"><strong>Username</strong></label>
										<input asp-for="UserName" type="text" class="form-control" placeholder="Username" required>
										<span asp-validation-for="UserName"></span>
										</div>
										<div class="mb-3">
											<label class="mb-1"><strong>Password</strong></label>
										<input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
										<span asp-validation-for="Password"></span>

										</div>
										<div class="row d-flex justify-content-between mt-4 mb-2">
											<div class="mb-3">
											   <div class="form-check custom-checkbox ms-1">
													<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
													<label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
												</div>
											</div>
											<div class="mb-3">
												<a asp-action="ForgotPassword">Forgot Password?</a>
											</div>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
										</div>
									</form>
									<div class="new-account mt-3">
										<p>Don't have an account? <a class="text-primary" href="./page-register.html">Sign up</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

