@model ResetPasswordVM

@{
	ViewData["Title"] = "ResetPasword";
	Layout = "_PagesLayout";
}

<div class="authincation h-100">
	<div class="container h-100">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col-md-6">
				<div class="authincation-content">
					<div class="row no-gutters">
						<div class="col-xl-12">
							<div class="auth-form">
								<div class="text-center mb-3">
									<a href="index.html"><img src="images/logo-full.png" alt=""></a>
								</div>
								<h4 class="text-center mb-4">Reset Password</h4>
								<form asp-controller="account" asp-action="resetpassword" method="post">
									<div asp-validation-summary="All" class="text-danger"></div>
									<div class="mb-3">
										<label><strong>New Paswword</strong></label>
										<input asp-for="Password" type="password" class="form-control" required>
									</div>
									<div class="mb-3">
										<label><strong>Confirm Password</strong></label>
										<input asp-for="ConfirmPassword" type="password" class="form-control" required>
									</div>
										<input type="hidden" asp-for="Email"  class="form-control" >
										<input type="hidden" asp-for="Token" class="form-control" >

									<div class="text-center">
										<button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
