@*@model Supervisor
@{
	Layout = null;
}


<div class="row">
	<div class="mb-3 col-md-6">
		<label class="form-label">Department</label>
		@if (ViewBag.Departments != null)
		{
			<select asp-for="DepartmentId" class="form-control  default-select wide" id="departmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","Name"))">

			</select>
		}
		else
		{
			<select class="form-control  default-select wide" id="departmentId">
				<option> Select Department </option>
			</select>
		}
	</div>
	<div class="mb-3 col-md-6">
		<label class="form-label">Supervisor</label>
		<select asp-for="@student.Supervisor" class="form-control" id="supervisorId">
			<option value=""> Please select Supervisor </option>
		</select>
	</div>
</div>*@@*@model Supervisor
@{
	Layout = null;
}


<div class="row">
	<div class="mb-3 col-md-6">
		<label class="form-label">Department</label>
		@if (ViewBag.Departments != null)
		{
			<select asp-for="DepartmentId" class="form-control  default-select wide" id="departmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","Name"))">

			</select>
		}
		else
		{
			<select class="form-control  default-select wide" id="departmentId">
				<option> Select Department </option>
			</select>
		}
	</div>
	<div class="mb-3 col-md-6">
		<label class="form-label">Supervisor</label>
		<select asp-for="@student.Supervisor" class="form-control" id="supervisorId">
			<option value=""> Please select Supervisor </option>
		</select>
	</div>
</div>*@