@{
	ViewData["Title"] = "Deepartment";
	Department dpt = new Department();
}


<Partial name="_DepartmeentHeader" />
<Partial name="_Sidebar" />


<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Depaertment</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Add</a></li>
			</ol>
		</div>
		<!-- row -->
		<div class="row">
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Add Department</h4>
					</div>
					<div class="card-body">
						<div class="basic-form">
							<form asp-action="AddDepartment" method="post">
								<div class="mb-3">
									<textarea rows="4" asp-for="@dpt.Name" name="Name" class="form-control" required></textarea>
								</div>
								<button type="submit" class="btn btn-primary">Add Department</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
