<div class="nav-header">
	<a asp-controller="Home" asp-action="Index" class="brand-logo">
	
		<img src="~/assets/images/logo.png" />
		<div class="brand-title">
			<h2 class="">FPE</h2>
			<span class="brand-sub-title">Project Management</span>
		</div>
	</a>
	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span><span class="line"></span>
		</div>
	</div>
</div>


									