@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SPMS : FPE Student Project Management System" />
    <meta property="og:title" content="SPMS : FPE Student Project Management System" />
    <meta property="og:description" content="SPMS : FPE Student Project Management System" />

    <!-- PAGE TITLE HERE -->
    <title>FPE Student Project Management</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/favico.png" />

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="main-wrapper">
        <Partial name="_Header" />

        @RenderBody()
        <Partial name="_Footer" />
    </div>



    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/dlabnav-init.js"></script>
    <script src="~/assets/js/demo.js"></script>
  
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@