<button class="btn btn-primary btn-block" id="button-to-show" hidden type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>