<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SPMS : Student Project Management   " />
    <meta property="og:title" content="SPMS : Student Project Management   " />
    <meta property="og:description" content="SPMS : Student Project Management   " />
    <meta property="og:image" content="~/assets/favico.png" />
    <meta name="format-detection" content="telephone=no">
    <!-- PAGE TITLE HERE -->
    <title>Student Project Management System</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/favico.png" />
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="manifest" href="~/manifest.json">

</head>

<body class="vh-100">

    @RenderBody()
    <script src="~/assets/vendor/global/global.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/dlabnav-init.js"></script>
    <script src="~/assets/js/myscripts.js"></script>
    <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
                navigator.serviceWorker.register('/js/serviceWorker.js');
        });
    }
</script>
</body>
</html>