


@if (User.IsInRole("Admin"))
{
	<div class="dlabnav">
		<div class="dlabnav-scroll">
			<ul class="metismenu" id="menu">
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-home"></i>
						<span class="nav-text">Dashboard</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="profile">Profile</a></li>
					</ul>

				</li>

				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-info-circle"></i>
						<span class="nav-text">Manage</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="department">Department</a></li>
						<li><a asp-controller="dashboard" asp-action="adddepartment">Supervisors</a></li>
						<li><a asp-controller="dashboard" asp-action="adddepartment">Students</a></li>

						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>

				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-info-circle"></i>
						<span class="nav-text">Notification</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="project" asp-action="pstudent">Push Notification</a></li>
						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

}
else if (User.IsInRole("Supervisor"))
{
	<div class="dlabnav">
		<div class="dlabnav-scroll">
			<ul class="metismenu" id="menu">
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-home"></i>
						<span class="nav-text">Dashboard</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="profile">Profile</a></li>
						<li><a asp-controller="notification" asp-action="notify">Send Notification</a></li>

					</ul>

				</li>

				
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-user-check"></i>
						<span class="nav-text">Profile</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="profile">Profile</a></li>
						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-tasks"></i>
						<span class="nav-text">Project</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="project" asp-action="pstudent">Project Students</a></li>
						<li><a asp-controller="project" asp-action="proposal">Proposals</a></li>
						<li><a asp-controller="project" asp-action="chapter">Chapters</a></li>
						<li><a asp-controller="project" asp-action="allprojects">All Projects</a></li>
						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-info-circle"></i>
						<span class="nav-text">Others</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="notification" asp-action="notify">Send Notification</a></li>
						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
			</ul>


		</div>
	</div>
}
else if (User.IsInRole("Student"))
{
	<div class="dlabnav">
		<div class="dlabnav-scroll">
			<ul class="metismenu" id="menu">
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-home"></i>
						<span class="nav-text">Dashboard</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="profile">Profile</a></li>
						<li><a asp-controller="dashboard" asp-action="notify">Notifications</a></li>
					</ul>

				</li>

				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-tasks"></i>
						<span class="nav-text">Project</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="project" asp-action="index">Proposal</a></li>
						<li><a asp-controller="project" asp-action="milestone">Chapters</a></li>
						<li><a asp-controller="project" asp-action="details">Project Details</a></li>
						<li><a asp-controller="project" asp-action="details">Submit Completed Project</a></li>

						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="fas fa-user-check"></i>
						<span class="nav-text">Profile</span>
					</a>
					<ul aria-expanded="false">
						<li><a asp-controller="dashboard" asp-action="profile">Settings</a></li>

						<li>
							<ul aria-expanded="false">
							</ul>
						</li>
					</ul>
				</li>
			</ul>

			
		</div>
	</div>

}