@{
    var noti = ViewData["Noti"] as IEnumerable<Notification>;
}




@foreach (var item in @noti.Where(x => x.IsRead.Equals(false) && x.SupervisorId.Equals(CurrentStudent.SupervisorId)))
{
    <li>
        <div class="timeline-panel">
            <div class="media me-2">
                <img alt="image" width="50" src="~/assets/images/avatar/8.png">
            </div>
            <a asp-controller="dashboard" asp-action="notify">
                <div class="media-body">
                    <h6 class="mb-1">@item.Content.Substring(0,10)...</h6>
                    <small class="d-block">@item.When.ToLongDateString() - @item.When.ToShortTimeString()</small>
                </div>
            </a>
        </div>
    </li>
}