@model IEnumerable<Account>


@{
	ViewData["Title"] = "Supervisors";
}

<Partial name="_DepartmentHeader" />
<Partial name="_Sidebar" />

<div class="content-body">
	<div class="container-fluid">

		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Datatable</a></li>
			</ol>
		</div>
				<div class="col-lg-6">

					  <label>Upload Csv file</label>
				  <form asp-controller="manage" asp-action="uploadfile" method="post" enctype="multipart/form-data">
								<div class="input-group mb-3">
									<div class="form-file">
										<input type="file" class="form-file-input form-control">
									</div>
									<button type="submit" class="btn btn-primary btn-sm" type="button">Upload</button>
								</div>
					</form>
				</div>
		<!-- row -->
		@if (Model.Count() > 0)
		{
			<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Profile Datatable</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="example3" class="display" style="min-width: 845px">
							<thead>
								<tr>
									<th></th>
									<th>FullName</th>
									<th>Department</th>
									<th>PhoneNo</th>
									<th>FileNo</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.SerialNo</td>
										<td>@item.FullName</td>
										<td>@item.PhoneNo</td>
										<td><a href="javascript:void(0);"><strong>@item.FileNo</strong></a></td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>


